<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <input id="skuId" name="id" type="hidden"/>

        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <input id="skuInfo" name="skuInfo" type="hidden"/>


        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" >

        </div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>

        <br/><br/>




        <!-------------->



    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>

<script language="JavaScript">

    function closeSku() {
        $("#sku_dlg").dialog("close");
    }
    
    function saveSku() {
        var skuInfo = {};
        // sku的表单数据
        var spu = $("#spulist_dg").datagrid("getSelected");
        var spuId = spu.id;
        skuInfo["spuId"]= spuId;
        skuInfo["skuName"] = $("#skuName").val();
        skuInfo["skuDesc"] = $("#skuDesc").val();
        skuInfo["price"] = $("#price").val();
        skuInfo["weight"] = $("#weight").val();
        var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");
        if(!catalog3Id){
            catalog3Id = "61";
        }
        skuInfo["catalog3Id"] = catalog3Id;

        var skuDefaultImg = $("input[name='isDefault']:checked").val();
        if(!skuDefaultImg){
            skuDefaultImg = $("input[name='isDefault']").eq(0).val();
        }
        skuInfo["skuDefaultImg"]= skuDefaultImg;

        // 封装图片信息
        var checkImages = $("#skuImgDg").datagrid("getChecked");
        $(checkImages).each(function(i,image){
            skuInfo["skuImageList["+i+"].imgName"] = image.imgName;
            skuInfo["skuImageList["+i+"].imgUrl"] =image.imgUrl;
            skuInfo["skuImageList["+i+"].spuImgId"] =image.id;

            if(image.imgUrl==skuDefaultImg){
                skuInfo["skuImageList["+i+"].isDefault"] =1;
            }else{
                skuInfo["skuImageList["+i+"].isDefault"] =0;
            }

        })

        // 获得平台属性的id和平台属性值的id
        var attrSelects = $("#attrInfoGroup").children("select");
        for (var i = 0; i < attrSelects.length; i++) {
            var valueId = attrSelects.eq(i).find("option:selected").val();
            var attrId=attrSelects.eq(i).attr("attrId");
            skuInfo["skuAttrValueList[" + i + "].attrId"]=attrId;
            skuInfo["skuAttrValueList[" + i + "].valueId"]=valueId;
        }

        // 获得销售属性的id和平台属性值的id
        var saleAttrSpans = $("#spuSaleAttrGroup").children("span");

        for (var i = 0; i < saleAttrSpans.length; i++) {
            // 销售属性值的id和销售属性值的名称
            var saleAttrValueId = saleAttrSpans.eq(i).find("option:selected").val();
            var saleAttrValueName = saleAttrSpans.eq(i).find("option:selected").text();

            // 销售属性id和销售属性名称
            var saleAttrId=saleAttrSpans.eq(i).attr("saleAttrId");
            var saleAttrName=saleAttrSpans.eq(i).attr("saleAttrName");

            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrId"]=saleAttrId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueId"]=saleAttrValueId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrName"]=saleAttrName;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueName"]=saleAttrValueName;
        }

//        此功能暂时不通
//        var spans = $("#attrInfoGroup").children("span");
//
//        $(spans).each(function(i,span){
//            var valueId = $(span).children("select").val();
//            alert(valueId);
//        })

        // 销售属性的id和销售属性值的id

        // 异步保存skuInfo参数到后台
        $.get("saveSku",skuInfo,function(data){
            //alert(data);
            $("#sku_dlg").dialog("close");
        });
    }

    //初始化商品图片列表
    function  initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid({
            url:'spuImageList?spuId='+spuId,
            columns:[[
                { field:'checkFlag',checkbox:true},
                { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                { field:'imgName',title:'图片简称',width:'30%'
                },
                { field:'imgUrl',title:'图片路径' ,width:'20%',
                    formatter:function(value,row,index){
                            return "<img src='"+value+"' width='50px' />";
                        }
                }
                ,
                { field:'isDefault',title:'是否默认图片' ,width:'20%',
                    formatter:function(value,row,index){
                        var radio = "<input type='radio' name='isDefault' value='"+row.imgUrl+"' />";
                        var val=$('input:radio[name="isDefault"]:checked').val();
                        if (val) {
                            $("input:checkbox").prop("checked",true);
                        }
                        return radio;
                    }
                }
            ]]
        })

    }
    
    function initSkuInfoDlg() {
        // 获取被选中的spuId
        var spuRow = $('#spulist_dg').datagrid('getSelected');
        var ctg3val=$("#ctg3ForSpuList").combobox('getValue');
        var spu = $("#spulist_dg").datagrid("getSelected");
        var spuId = spu.id;
        // 获取当前的被选择的三级分类id
        var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");
        if(!catalog3Id){
            catalog3Id = "61";
        }

        var skuInfo = $("#skulist_dg").datagrid(("getSelected"));
        $("#skuName").textbox("setValue",skuInfo.skuName);
        $("#skuDesc").textbox("setValue",skuInfo.skuDesc);
        $("#price").textbox("setValue",skuInfo.price);
        $("#weight").textbox("setValue",skuInfo.weight);

        // 初始化spu的图片列表
        initSkuImgListDatagrid(spuId);
        // 初始化spu的销售属性
        initSpuSaleAttrGroup(spuId);
        // 初始化三级分类对应额平台属性
        initAttrInfoGroup(catalog3Id);

    }
    
    function initSpuSaleAttrGroup(spuId) {

        $.post("spuSaleAttrList?spuId="+spuId,function(data){
            // 结果放如销售的panel
            $("#spuSaleAttrGroup").empty();
            $(data).each(function(i,json){
                // 循环添加spu的销售属性集合
                var spanBegin = "<span saleAttrId='"+json.saleAttrId+"' saleAttrName='"+json.saleAttrName+"'>";
                var saleAttrName = json.saleAttrName+":";
                var saleValueList = json.spuSaleAttrValueList;
                var selectBegin = "<select>";
                var options = "";
                $(saleValueList).each(function (i,valJson) {
                    var optionBgin = "<option value='"+valJson.id+"'>";
                    var optionEnd = "</option>";
                    options = options + optionBgin+valJson.saleAttrValueName+optionEnd;//<option>销售属性值的文本</option>
                });
                var selectEnd = "</select>";
                var spanEnd = "</span>";
                $("#spuSaleAttrGroup").append($(spanBegin+saleAttrName+selectBegin+options+selectEnd+spanEnd));
            });
        });
    }
    
    function initAttrInfoGroup(catalog3Id) {
        $.get("getAttrListByCtg3?id="+catalog3Id,function(attrList){

            $("#attrInfoGroup").empty();
            $(attrList).each(function(i,attr){
                // 拼接平台属性的<p>
                $("#attrInfoGroup").append("<span attrId='"+attr.id+"'>"+attr.attrName);

                attrValueList = attr.attrValueList;
                // 拼接平台属性值的<select>
                var selectHead = "<select attrId='"+attr.id+"'>";
                var options = "";
                $(attrValueList).each(function(i,attrValue){
                    // 拼接平台属性值的<option>
                    options = options + "<option value='"+attrValue.id+"'>"+attrValue.valueName+"</option>";
                });
                // 拼接平台属性值的</select>
                var selectEnd = "</select>";
                $("#attrInfoGroup").append(selectHead+options+selectEnd+"</span>");
            })
        })
    }
</script>
</body>
</html>